In [1]:
import pandas as pd # data processing

## Handling dates

In [4]:
root = '/home/sihartist/Desktop/fraud-detection/'
path = root + "dataset/final.xlsx"

In [6]:
clean_data = pd.read_excel(path, dtype=str)

In [7]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140654 entries, 0 to 140653
Data columns (total 28 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   V1      140654 non-null  object
 1   V2      140654 non-null  object
 2   V3      139696 non-null  object
 3   V4      140645 non-null  object
 4   V5      140654 non-null  object
 5   V6      124864 non-null  object
 6   V7      140654 non-null  object
 7   V8      140654 non-null  object
 8   V9      28907 non-null   object
 9   V10     51372 non-null   object
 10  V11     0 non-null       object
 11  V12     140654 non-null  object
 12  V13     140654 non-null  object
 13  V14     0 non-null       object
 14  V15     11162 non-null   object
 15  V16     140654 non-null  object
 16  V17     0 non-null       object
 17  V18     140616 non-null  object
 18  V19     110978 non-null  object
 19  V20     139679 non-null  object
 20  V21     140654 non-null  object
 21  V22     140654 non-null  object
 22  V23     140654 non-null  object
 23  V24     27868 non-null   object
 24  V25     140654 non-null  object
 25  V26     140654 non-null  object
 26  V27     140654 non-null  object
 27  CLASS   140654 non-null  object
dtypes: object(28)
memory usage: 30.0+ MB

In [ ]:
date_columns = clean_data.filter(['V6', 'V7', 'V8', 'V23'])
date_columns['V6'] = pd.to_datetime(date_columns['V6'])
date_columns['V7'] = pd.to_datetime(date_columns['V7'])
date_columns['V8'] = pd.to_datetime(date_columns['V8'])
date_columns['V23'] = pd.to_datetime(date_columns['V23'])

## we will fill this with year values
year_columns = pd.DataFrame()

In [92]:
date_columns['SE month'] = date_columns['V6'].dt.month
date_columns['SE day'] = date_columns['V6'].dt.day

date_columns['EE month'] = date_columns['V7'].dt.month
date_columns['EE day'] = date_columns['V7'].dt.day

date_columns['TR month'] = date_columns['V8'].dt.month
date_columns['TR day'] = date_columns['V8'].dt.day
date_columns['TR hour'] = date_columns['V8'].dt.hour
date_columns['TR minute'] = date_columns['V8'].dt.minute
date_columns['TR second'] = date_columns['V8'].dt.second

date_columns['ISS month'] = date_columns['V23'].dt.month
date_columns['ISS day'] = date_columns['V23'].dt.day

## We treat years separately as they are not periodic
year_columns['SE year'] = date_columns['V6'].dt.year
year_columns['EE year'] = date_columns['V7'].dt.year
year_columns['TR year'] = date_columns['V8'].dt.year
year_columns['ISS year'] = date_columns['V23'].dt.year

date_columns = date_columns.drop(['V6', 'V7', 'V8', 'V23'], axis=1)
clean_data = clean_data.drop(['V6', 'V7', 'V8', 'V23'], axis=1)

In [93]:
from sklearn import preprocessing
import math 

min_max_scaler = preprocessing.MinMaxScaler(feature_range=(-math.pi, math.pi))
date_columns_scaled = min_max_scaler.fit_transform(date_columns.values)
date_columns_normalized = pd.DataFrame(date_columns_scaled, columns=date_columns.columns)
date_columns_normalized = date_columns_normalized.applymap(lambda x: math.cos(x))
date_columns_normalized.head(2)

,SE month,SE day,EE month,EE day,TR month,TR day,TR hour,TR minute,TR second,ISS month,ISS day
0,-1.0,0.500000,-1.0,0.654861,-0.841254,-0.309017,-0.854419,0.617525,0.237327,-1.0,-0.354605
1,-1.0,0.866025,-1.0,0.959493,0.959493,-0.500000,0.990686,0.132726,-0.288692,-1.0,-0.354605

In [95]:
new_df = pd.concat([clean_data, date_columns_normalized, year_columns], axis=1)
new_df.head(2)

,V1,V2,V3,V4,V9,V10,V12,V13,V16,V19,...,TR day,TR hour,TR minute,TR second,ISS month,ISS day,SE year,EE year,TR year,ISS year
0,31,281,22,010112,221227.7498691767,221227.7498691767,010112,6011,21140121124C,071181,...,-0.309017,-0.854419,0.617525,0.237327,-1.0,-0.354605,2009,2011,2009,2009
1,31,281,22,010112,221227.7498691767,221227.7498691767,010112,6011,21140121124C,004737,...,-0.500000,0.990686,0.132726,-0.288692,-1.0,-0.354605,2009,2011,2009,2009

In [73]:
new_df.to_excel(root + 'dataset/clean_datetime.xlsx')