In [1]:
import pandas as pd # data processing
import numpy as np # working with arrays
import matplotlib.pyplot as plt # visualization
import seaborn as sns
import random
from termcolor import colored as cl # text customizationsize=len(R_7['V26'])

In [2]:
# Load the credit card transaction data   
df = pd.read_excel('C:/Users/KABYADE/Desktop/Fraud_ML/fraud-detection/data_preparation/output/fraud_data.xlsx')
df.head(2)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V19,V20,V21,V22,V23,V24,V25,V26,V27,CLASS
0,1,200,22.0,10112.0,500,01/06/2009,01/06/2011,11/07/2009 09:06:38,2000.0,2000.0,...,NaN,0.0,1000001,1000001,26/12/2009,2000.0,952,384,VERSUS BANK PLATEAU REGION LAGUNECI,1
1,1,200,22.0,10112.0,500,01/09/2009,01/09/2011,09/05/2010 07:57:39,150000.0,150000.0,...,NaN,0.0,1000003,1000003,26/12/2010,150000.0,952,384,VERSUS BANK ZONE 4 REGION LAGUNECI,1

In [3]:
len(df)

29672

In [4]:
#Split data_to upate into 3 parts
dfs = np.array_split(df, 3)
df_1,df_2,df_3=dfs

print(len(df_1))
print(len(df_2))
print(len(df_3))

9891
9891
9890

In [5]:
#save TO EXecl files
df_1.to_excel('data/Khadija_2.xlsx', index=False)
df_2.to_excel('data/zakaria_2.xlsx', index=False)
df_3.to_excel('data/siham_2.xlsx', index=False)