In [1]:
import pandas as pd # data processing
import numpy as np # working with arrays
import matplotlib.pyplot as plt # visualization
import seaborn as sns
import random
from termcolor import colored as cl # text customizationsize=len(R_7['V26'])

In [2]:
# Load the credit card transaction data 
df = pd.read_excel('C:/Users/KABYADE/Desktop/Fraud_ML/fraud-detection/data_preparation/Authorization_data_v2.xlsx')
df.head(2)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V19,V20,V21,V22,V23,V24,V25,V26,V27,CLASS
0,31,281,22.0,10112.0,500,01/05/2009,01/05/2011,02/07/2009 21:21:42,NaN,NaN,...,071181,0.0,1000002,1000002,26/12/2009,NaN,952,384,VERSUS BANK 2 PLATEAUX REGION LAGUNECI,0.0
1,31,281,22.0,10112.0,500,01/06/2009,01/06/2011,26/06/2009 11:16:47,NaN,NaN,...,004737,0.0,1000001,1000001,26/12/2009,NaN,952,384,VERSUS BANK PLATEAU REGION LAGUNECI,0.0

In [16]:
nonfraud_count = len(df[df.CLASS == 0])
print(nonfraud_count)

# get the distinct values of the 'class' column
distinct_names = df['CLASS'].unique()
print(distinct_names)

70327
[  0. 121. 116. 100.  nan 909. 992. 107. 123. 117. 200. 201. 208. 111.
 912. 481. 110. 119. 206. 146. 183. 128. 115. 995. 902. 994. 112. 104.
 125. 108. 106. 114. 180. 118.]

In [18]:
df.loc[df['CLASS'].isin(distinct_names[1:]) , 'CLASS'] = 1
df['CLASS']=df['CLASS'].astype(int)

In [22]:
cases = len(df)
nonfraud_count = len(df[df.CLASS == 0])
fraud_count = len(df[df.CLASS == 1])
fraud_percentage = round(fraud_count/nonfraud_count*100, 2)

print(cl('CASE COUNT', attrs = ['bold']))
print(cl('--------------------------------------------', attrs = ['bold']))
print(cl('Total number of cases are {}'.format(cases), attrs = ['bold']))
print(cl('Number of Non-fraud cases are {}'.format(nonfraud_count), attrs = ['bold']))
print(cl('Number of fraud cases are {}'.format(fraud_count), attrs = ['bold']))
print(cl('Percentage of fraud cases is {}%'.format(fraud_percentage), attrs = ['bold']))
print(cl('--------------------------------------------', attrs = ['bold']))

CASE COUNT
--------------------------------------------
Total number of cases are 99999
Number of Non-fraud cases are 70327
Number of fraud cases are 29672
Percentage of fraud cases is 42.19%
--------------------------------------------

In [27]:
#70327-29672=40655 !
split_count=nonfraud_count-fraud_count
df_fraud=df[df.CLASS == 1]
df_Non_fraud=df[df.CLASS == 0]
df_to_update=df_Non_fraud[:(split_count)]


print(len(df_Non_fraud))
print(len(df_fraud))
print(len(df_to_update))

70327
29672
40655

In [24]:
#save DataFrame TO CSV files
df_fraud.to_excel('output/fraud_data.xlsx', index=False)
df_Non_fraud.to_excel('output/non_fraud_data.xlsx', index=False)
df_to_update.to_excel('output/data_to_update.xlsx', index=False)

In [25]:
len(df_to_update)

40655

In [36]:
#Split data_to upate into 3 parts
dfs = np.array_split(df_to_update, 3)
df_1,df_2,df_3=dfs

print(len(df_1))
print(len(df_2))
print(len(df_3))

13552
13552
13551

In [38]:
#save TO EXecl files
df_1.to_excel('data/Khadija.xlsx', index=False)
df_2.to_excel('data/zakaria.xlsx', index=False)
df_3.to_excel('data/siham.xlsx', index=False)