In [2]:
import pandas as pd # data processing
import numpy as np # working with arrays
import matplotlib.pyplot as plt # visualization
import seaborn as sns
import random
import string
from termcolor import colored as cl # text customizationsize=len(R_7['V26'])

In [3]:
# Load the credit card transaction data 
df = pd.read_excel(r'C:\Users\KABYADE\Desktop\Fraud_ML\dataset\final.xlsx',dtype = str)

In [41]:
df['CLASS'] = df['CLASS'].astype(int)
df.drop(['V11','V14','V20','V5','V17','V18','V15'], axis=1, inplace=True)
count_V3=df.loc[df['CLASS'] == 1,'V3'].isnull().sum()

def clean_data(df):
    #Date
    df['V23'] = pd.to_datetime(df['V23'],format="%d/%m/%Y")
    df['V8'] = pd.to_datetime(df['V8'],format="%d/%m/%Y %H:%M:%S")
    
    df['V6'] = pd.to_datetime(df['V6'],format="%d/%m/%Y")
    df['V7'] = pd.to_datetime(df['V7'],format="%d/%m/%Y")
    df['V6']=df['V6'].fillna(value=df['V7'] - pd.Timedelta(days=2*365))
   
    #String
    df['V4']=df['V4'].fillna(value='010112')
    df.loc[df['V1'] == 31, 'V10'] = '00'  
    values_V3 =  np.random.choice(["002", "003"],size=count_V3).tolist()
    df['V3'] = df['V3'].apply(lambda x: values_V3.pop(0) if pd.isna(x) else x)
    df['V19'] = df['V19'].apply(lambda x: ''.join(random.choices(string.digits, k=6)) if pd.isna(x) else x)
    #Float
    add_amount_values()
    return df

def add_amount_values():
    fload_cols=['V9','V10','V24']
    for el in fload_cols:
        df[el] = df[el].astype(float)
        max_V10 = df[el].max()
        values = [random.randint(0, max_V10) for i in range(df[el].isnull().sum() )]
        df[el] = df[el].apply(lambda x: values.pop(0) if pd.isna(x) else x)

In [42]:
clean_data = clean_data(df)
clean_data.to_excel('output/clean_data.xlsx', index=False)

In [43]:
clean_data.info()
#verify data nulls values after datacleaning_V1
# V9, V10, V24 ==> N-fraud 67500  &  Fraud   21782
# Solutions => Zeros / Mean or random(0,mean)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140654 entries, 0 to 140653
Data columns (total 21 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   V1      140654 non-null  object
 1   V2      140654 non-null  object
 2   V3      140654 non-null  object
 3   V4      140654 non-null  object
 4   V6      140654 non-null  datetime64[ns]
 5   V7      140654 non-null  datetime64[ns]
 6   V8      140654 non-null  datetime64[ns]
 7   V9      140654 non-null  float64
 8   V10     140654 non-null  float64
 9   V12     140654 non-null  object
 10  V13     140654 non-null  object
 11  V16     140654 non-null  object
 12  V19     140654 non-null  object
 13  V21     140654 non-null  object
 14  V22     140654 non-null  object
 15  V23     140654 non-null  datetime64[ns]
 16  V24     140654 non-null  float64
 17  V25     140654 non-null  object
 18  V26     140654 non-null  object
 19  V27     140654 non-null  object
 20  CLASS   140654 non-null  int32
dtypes: datetime64[ns](4), float64(3), int32(1), object(13)
memory usage: 22.0+ MB