# Spliting

In [124]:
import pandas as pd
import numpy as np
# Charger la dataframe
data = pd.read_excel('zakaria_2.xlsx')

In [125]:
data.shape

(9891, 28)

In [126]:
# Diviser la dataframe en 7 parties
df_parts = np.array_split(data, 7)

In [127]:
# Afficher la taille de chaque partie
for i, part in enumerate(df_parts):
    print(f'Taille de la partie {i+1}: {len(part)}')

Taille de la partie 1: 1413
Taille de la partie 2: 1413
Taille de la partie 3: 1413
Taille de la partie 4: 1413
Taille de la partie 5: 1413
Taille de la partie 6: 1413
Taille de la partie 7: 1413

In [128]:
# Stocker chaque partie dans une dataframe séparée
df_part1, df_part2, df_part3,df_part4,df_part5,df_part6,df_part7 = df_parts

# Rule 1

In [129]:
# Modifier les valeurs de 4 colonnes pour toutes les lignes
df_part1.loc[:, ['V4','CLASS']] = [['000010',1] for _ in range(len(df_part1))]

In [130]:
columns_num = df_part1.select_dtypes(include=np.number).columns.tolist()
columns_num.remove('CLASS')
max_values = {}

for v in columns_num:
    max_values[v] = df_part1[v].max()

In [131]:
# Modifier toutes les lignes où la colonne V10 est inférieure ou égale à 8000
import random
import numpy as np
df_part1['V10'] = random.randint(8000, max_values['V10'])

In [132]:
max(df_part1['V16'].str[6])

'5'

# Rule 2

In [133]:
# Modifier les valeurs de 4 colonnes pour toutes les lignes
df_part2.loc[:, ['V4','CLASS']] = [['000010',1] for _ in range(len(df_part2))]

In [134]:
# Modifier les valeurs de 4 colonnes pour toutes les lignes
df_part1.loc[:, ['V4','CLASS']] = [['000010',1] for _ in range(len(df_part1))]

In [135]:
# Modifier toutes les lignes où la colonne V10 est inférieure ou égale à 60000
import random
import numpy as np
df_part1['V10'] = random.randint(60000, max_values['V10'])

In [136]:
df_part2['V1'] = '00'

In [137]:
import random

for index, row in df_part2.iterrows():
    df_part2.at[index, 'V16'] = row['V16'][:6] + random.choice(['9', 'S', 'T', 'U', 'V']) + row['V16'][7:]

# Rule 3

In [138]:
# Modifier les valeurs de 4 colonnes pour toutes les lignes
df_part3.loc[:, ['V4','CLASS']] = [['000010',1] for _ in range(len(df_part3))]

In [139]:
df_part3['V26']

2826    384
2827    384
2828    384
2829    384
2830    384
       ...
4234    384
4235    384
4236    384
4237    384
4238    384
Name: V26, Length: 1413, dtype: int64

In [140]:
df_part3.loc[df_part3['V26'] == 360, 'V26'] = [384  for _ in range(len(df_part3))]
df_part3['V26']

2826    384
2827    384
2828    384
2829    384
2830    384
       ...
4234    384
4235    384
4236    384
4237    384
4238    384
Name: V26, Length: 1413, dtype: int64

In [141]:
df_part3['V21'] = '0000007'

# Rule 4

In [142]:
df_part4.loc[:, ['V4','CLASS']] = [['000010',1] for _ in range(len(df_part4))]

In [143]:
df_part4.loc[df_part4['V26'] != 360, 'V26'] = [360  for _ in range(len(df_part4))]
df_part4['V26']

4239    360
4240    360
4241    360
4242    360
4243    360
       ...
5647    360
5648    360
5649    360
5650    360
5651    360
Name: V26, Length: 1413, dtype: int64

In [144]:
df_part4['V21'] = 'VISPOS01'

# Rule 5

In [145]:
df_part5.loc[:, ['V4','CLASS']] = [['000010',1] for _ in range(len(df_part5))]

In [146]:
df_part5['V26'] = 360

In [147]:
df_part5['V15'] = 902

In [148]:
import numpy as np

df = []
values = ['01','17']  
for i in range(len(df_part5)):
  df.append(np.random.choice(values))
df_part5['V1'] = df
df_part5['V1']

5652    17
5653    17
5654    01
5655    17
5656    01
        ..
7060    17
7061    17
7062    17
7063    01
7064    01
Name: V1, Length: 1413, dtype: object

# Rule 6

In [149]:
df_part6.loc[:, ['V4','CLASS']] = [['000010',1] for _ in range(len(df_part6))]

In [150]:
df_part6.loc[:, 'V10'] = [random.randint(18000,999999) for _ in range(len(df_part6))]

In [151]:
import random
for index, row in df_part6.iterrows():
    df_part6.at[index, 'V16'] = row['V16'][:6] + '5' + row['V16'][7:]

# Rule 7

In [152]:
df_part7.loc[:, ['V4','CLASS']] = [['000010',1] for _ in range(len(df_part7))]

In [153]:
df_part7['V1'] = '20'

In [154]:
import random
import numpy as np
df_part1['V10'] = random.randint(10000, max_values['V10'])

In [155]:
df_part7.loc[df_part7['V13']==5331 , 'V13'] = [6011 for _ in range(len(df_part7))]

In [156]:
df_part7.loc[df_part7['V13']==7011 , 'V13'] = [6011 for _ in range(len(df_part7))]

In [157]:
max(df_part7['V13'])

6011

# Export

In [158]:
df_final = pd.concat([df_part1,df_part2,df_part3,df_part4,df_part5,df_part6,df_part7])

In [159]:
df_final.to_excel('zakaria_fraud2.xlsx', index=False)