In [1]:
import pandas as pd
import numpy as np

In [2]:
root = '/home/sihartist/Desktop/'

In [3]:
df = pd.read_excel(root + 'fraud-detection/dataset/siham.xlsx')

In [4]:
df['V4'] = df['V4'].astype(str)

In [5]:
df_full = pd.read_excel('/home/sihartist/Desktop/fraud-detection/dataset/Authorization_data_v2.xlsx')

In [6]:
df_full['V4'] = df_full['V4'].astype(str)

In [7]:
df_full.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'CLASS'],
      dtype='object')

In [8]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      99999 non-null  int64
 1   V2      99999 non-null  int64
 2   V3      99024 non-null  float64
 3   V4      99999 non-null  object
 4   V5      99999 non-null  int64
 5   V6      85051 non-null  object
 6   V7      99999 non-null  object
 7   V8      99999 non-null  object
 8   V9      28722 non-null  float64
 9   V10     28722 non-null  float64
 10  V11     0 non-null      float64
 11  V12     99999 non-null  int64
 12  V13     99999 non-null  int64
 13  V14     0 non-null      float64
 14  V15     0 non-null      float64
 15  V16     99999 non-null  object
 16  V17     0 non-null      float64
 17  V18     99975 non-null  float64
 18  V19     70325 non-null  object
 19  V20     99024 non-null  float64
 20  V21     99999 non-null  int64
 21  V22     99999 non-null  int64
 22  V23     99999 non-null  object
 23  V24     27683 non-null  float64
 24  V25     99999 non-null  int64
 25  V26     99999 non-null  int64
 26  V27     99999 non-null  object
 27  CLASS   99191 non-null  float64
dtypes: float64(11), int64(9), object(8)
memory usage: 21.4+ MB

In [9]:
columns_num = df_full.select_dtypes(include=np.number).columns.tolist()
columns_num.remove('CLASS')
max_values = {}

for v in columns_num:
    max_values[v] = df_full[v].max()

max_values

{'V1': 40,
 'V2': 284,
 'V3': 22.0,
 'V5': 781,
 'V9': 800000.0,
 'V10': 800000.0,
 'V11': nan,
 'V12': 10112,
 'V13': 7011,
 'V14': nan,
 'V15': nan,
 'V17': nan,
 'V18': 6.0,
 'V20': 3.0,
 'V21': 1129152,
 'V22': 1000004,
 'V24': 800000.0,
 'V25': 952,
 'V26': 384}

In [10]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V19,V20,V21,V22,V23,V24,V25,V26,V27,CLASS
0,31,281,22,10112,500,01/11/2008,01/11/2010,04/04/2009 16:05:07,NaN,NaN,...,1448.0,0,1000001,1000001,26/12/2009,NaN,952,384,VERSUS BANK PLATEAU REGION LAGUNECI,0
1,31,281,22,10112,500,01/11/2008,01/11/2010,07/04/2009 17:49:05,NaN,NaN,...,47660.0,0,1000002,1000002,26/12/2009,NaN,952,384,VERSUS BANK 2 PLATEAUX REGION LAGUNECI,0
2,31,281,22,10112,500,01/03/2009,01/03/2011,08/04/2009 17:54:25,NaN,NaN,...,83514.0,0,1000003,1000003,26/12/2009,NaN,952,384,VERSUS BANK ZONE 4 REGION LAGUNECI,0
3,31,281,22,10112,500,01/01/2009,01/01/2011,06/04/2009 17:15:02,NaN,NaN,...,31856.0,0,1000003,1000003,26/12/2009,NaN,952,384,VERSUS BANK ZONE 4 REGION LAGUNECI,0
4,31,281,22,10112,500,01/09/2008,01/09/2009,07/04/2009 15:24:25,NaN,NaN,...,81083.0,0,1000001,1000001,26/12/2009,NaN,952,384,VERSUS BANK PLATEAU REGION LAGUNECI,0

In [11]:
df['CLASS'].value_counts()

0    13551
Name: CLASS, dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13551 entries, 0 to 13550
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      13551 non-null  int64
 1   V2      13551 non-null  int64
 2   V3      13551 non-null  int64
 3   V4      13551 non-null  object
 4   V5      13551 non-null  int64
 5   V6      13468 non-null  object
 6   V7      13551 non-null  object
 7   V8      13551 non-null  object
 8   V9      0 non-null      float64
 9   V10     0 non-null      float64
 10  V11     0 non-null      float64
 11  V12     13551 non-null  int64
 12  V13     13551 non-null  int64
 13  V14     0 non-null      float64
 14  V15     0 non-null      float64
 15  V16     13551 non-null  object
 16  V17     0 non-null      float64
 17  V18     13551 non-null  int64
 18  V19     13550 non-null  float64
 19  V20     13551 non-null  int64
 20  V21     13551 non-null  int64
 21  V22     13551 non-null  int64
 22  V23     13551 non-null  object
 23  V24     0 non-null      float64
 24  V25     13551 non-null  int64
 25  V26     13551 non-null  int64
 26  V27     13551 non-null  object
 27  CLASS   13551 non-null  int64
dtypes: float64(8), int64(13), object(7)
memory usage: 2.9+ MB

In [13]:
import random

In [14]:
def random_not_in(l, max):
    res = l[0]
    while(res in l):
        res = random.randint(0, max)
    return res

In [15]:
"""
Rule 1
V4 = ''000010''
V10 BETWEEN 90  AND 200
(V16,7,1)   IN  (''A'',''M'')
"""
def rule1(df, index):
    df.at[index, 'V4'] =  "'000010'"
    df.at[index, 'V10'] = random.randint(90, 200)
    df.at[index, 'V16'] = df.at[index, 'V16'][:6] + random.choice(['A', 'M']) + df.at[index, 'V16'][7:]

In [16]:
test_df = pd.DataFrame.copy(df)
rule1(test_df, 0)
print(test_df['V4'][0])
print(test_df['V10'][0])
print(test_df['V16'][0])

'000010'
99.0
211401M1124C

In [17]:
"""
Rule 2
V4 = ''000010'' 
V13  IN (''5921'') 
V10 > 5000
"""
def rule2(df, index):
    df.at[index, 'V4'] =  "'000010'"
    df.at[index, 'V13'] = 5921
    df.at[index, 'V10'] = random.randint(5001, max_values['V10'])

In [18]:
test_df = pd.DataFrame.copy(df)
rule2(test_df, 0)
print(test_df['V4'][0])
print(test_df['V13'][0])
print(test_df['V10'][0])

'000010'
5921
791140.0

In [19]:
"""
Rule 3
V4 = ''000010'' 
V13  IN (''5921'') 
V21  IN (''549038'')
V10 >= 2000
"""
def rule3(df, index):
    df.at[index, 'V4'] =  "'000010'"
    df.at[index, 'V13'] = 5921
    df.at[index, 'V21'] = 549038
    df.at[index, 'V10'] = random.randint(2000, max_values['V10'])

In [20]:
test_df = pd.DataFrame.copy(df)
rule3(test_df, 0)
print(test_df['V4'][0])
print(test_df['V13'][0])
print(test_df['V21'][0])
print(test_df['V10'][0])

'000010'
5921
549038
138354.0

In [21]:
"""
Rule 4
V4 = ''000010'' 
V1 IN (''20'') 
V13  NOT IN (''5311'',''7011'') 
V10 >= 100000
"""
def rule4(df, index):
    df.at[index, 'V4'] =  "'000010'"
    df.at[index, 'V1'] = 20
    df.at[index, 'V13'] = random_not_in([5311, 7011], max_values['V13'])
    df.at[index, 'V10'] = random.randint(100000, max_values['V10'])

In [22]:
test_df = pd.DataFrame.copy(df)
rule4(test_df, 0)
print(test_df['V4'][0])
print(test_df['V1'][0])
print(test_df['V13'][0])
print(test_df['V10'][0])

'000010'
20
2979
743465.0

In [23]:
"""
Rule 5
V4 = ''000010'' ; 
V13  IN (''3017'',''3223'',''4511'',''4722'',''7011'',''7512'') ;
(V16,7,1)   NOT IN  (''5'')
"""
def rule5(df, index):
    df.at[index, 'V4'] =  "'000010'"
    df.at[index, 'V13'] = random.choice([3017, 3223, 4511, 4722, 7011, 7512])
    df.at[index, 'V16'] = df.at[index, 'V16'][:6] + str(random_not_in([5], 9)) + df.at[index, 'V16'][7:]

In [24]:
test_df = pd.DataFrame.copy(df)
rule5(test_df, 0)
print(test_df['V4'][0])
print(test_df['V13'][0])
print(test_df['V16'][0])
print(df['V16'][0])

'000010'
4511
21140181124C
21140121124C

In [25]:
"""
Rule 6
V4 = ''000010''
V1 IN (''20'')
V13  NOT IN (''5331'',''7011'')
V10 >= 25000 END;
"""
def rule6(df, index):
    df.at[index, 'V4'] = "'000010'"
    df.at[index, 'V1'] = 20
    df.at[index, 'V13'] = random_not_in([5331, 7011], max_values['V13'])
    df.at[index, 'V10'] = random.randint(25000, max_values['V10'])

In [26]:
test_df = pd.DataFrame.copy(df)
rule6(test_df, 0)
print(test_df['V4'][0])
print(test_df['V1'][0])
print(test_df['V13'][0])
print(test_df['V10'][0])

'000010'
20
2262
65948.0

In [27]:
rules = [rule1, rule2, rule3, rule4, rule5, rule6]

In [28]:
def make_fraud():
    new_df = pd.DataFrame.copy(df)
    for index in range(len(new_df)):
        rule = random.choice(rules)
        rule(new_df, index)
        new_df.at[index, 'CLASS'] = 1
    return new_df

In [29]:
fraud_df = make_fraud()

In [30]:
fraud_df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V19,V20,V21,V22,V23,V24,V25,V26,V27,CLASS
0,31,281,22,'000010',500,01/11/2008,01/11/2010,04/04/2009 16:05:07,NaN,364224.0,...,1448.0,0,1000001,1000001,26/12/2009,NaN,952,384,VERSUS BANK PLATEAU REGION LAGUNECI,1
1,31,281,22,'000010',500,01/11/2008,01/11/2010,07/04/2009 17:49:05,NaN,NaN,...,47660.0,0,1000002,1000002,26/12/2009,NaN,952,384,VERSUS BANK 2 PLATEAUX REGION LAGUNECI,1
2,31,281,22,'000010',500,01/03/2009,01/03/2011,08/04/2009 17:54:25,NaN,NaN,...,83514.0,0,1000003,1000003,26/12/2009,NaN,952,384,VERSUS BANK ZONE 4 REGION LAGUNECI,1
3,31,281,22,'000010',500,01/01/2009,01/01/2011,06/04/2009 17:15:02,NaN,199260.0,...,31856.0,0,549038,1000003,26/12/2009,NaN,952,384,VERSUS BANK ZONE 4 REGION LAGUNECI,1
4,31,281,22,'000010',500,01/09/2008,01/09/2009,07/04/2009 15:24:25,NaN,206300.0,...,81083.0,0,549038,1000001,26/12/2009,NaN,952,384,VERSUS BANK PLATEAU REGION LAGUNECI,1

In [31]:
root = "/home/sihartist/Desktop/"

In [32]:
fraud_df.to_excel(root + 'fraud-detection/dataset/siham_fraud.xlsx', index=False)