# Spliting

In [1]:
import pandas as pd
import numpy as np
# Charger la dataframe
data = pd.read_excel('zakaria.xlsx')

In [2]:
data.shape

(13552, 28)

In [3]:
# Diviser la dataframe en 7 parties
df_parts = np.array_split(data, 7)

In [4]:
# Afficher la taille de chaque partie
for i, part in enumerate(df_parts):
    print(f'Taille de la partie {i+1}: {len(part)}')

Taille de la partie 1: 1936
Taille de la partie 2: 1936
Taille de la partie 3: 1936
Taille de la partie 4: 1936
Taille de la partie 5: 1936
Taille de la partie 6: 1936
Taille de la partie 7: 1936

In [5]:
# Stocker chaque partie dans une dataframe séparée
df_part1, df_part2, df_part3,df_part4,df_part5,df_part6,df_part7 = df_parts

# Rule 1

In [6]:
# Modifier les valeurs de 4 colonnes pour toutes les lignes
df_part1.loc[:, ['V4','CLASS']] = [['000010',1] for _ in range(len(df_part1))]

In [7]:
# Modifier toutes les lignes où la colonne V10 est inférieure ou égale à 8000
import random
import numpy as np
df_part1.loc[df_part1['V10'] < 8000, 'V10'] = [random.randint(8000,999999999999) for _ in range(len(df_part1))]

In [8]:
max(df_part1['V16'].str[6])

'2'

# Rule 2

In [9]:
# Modifier les valeurs de 4 colonnes pour toutes les lignes
df_part2.loc[:, ['V4','CLASS']] = [['000010',1] for _ in range(len(df_part2))]

In [10]:
# Modifier les valeurs de 4 colonnes pour toutes les lignes
df_part1.loc[:, ['V4','CLASS']] = [['000010',1] for _ in range(len(df_part1))]

In [11]:
# Modifier toutes les lignes où la colonne V10 est inférieure ou égale à 60000
import random
import numpy as np
df_part2.loc[df_part2['V10'] < 60000, 'V10'] = [random.randint(60000,999999999999) for _ in range(len(df_part2))]

In [12]:
df_part2['V1'] = '00'

In [13]:
import random

for index, row in df_part2.iterrows():
    df_part2.at[index, 'V16'] = row['V16'][:6] + random.choice(['9', 'S', 'T', 'U', 'V']) + row['V16'][7:]

# Rule 3

In [14]:
# Modifier les valeurs de 4 colonnes pour toutes les lignes
df_part3.loc[:, ['V4','CLASS']] = [['000010',1] for _ in range(len(df_part3))]

In [15]:
df_part3['V26']

3872    384
3873    384
3874    384
3875    384
3876    384
       ...
5803    384
5804    384
5805    384
5806    384
5807    384
Name: V26, Length: 1936, dtype: int64

In [16]:
df_part3.loc[df_part3['V26'] == 360, 'V26'] = [384  for _ in range(len(df_part3))]
df_part3['V26']

3872    384
3873    384
3874    384
3875    384
3876    384
       ...
5803    384
5804    384
5805    384
5806    384
5807    384
Name: V26, Length: 1936, dtype: int64

In [17]:
df_part3['V21'] = '0000007'

# Rule 4

In [18]:
df_part4.loc[:, ['V4','CLASS']] = [['000010',1] for _ in range(len(df_part4))]

In [19]:
df_part4.loc[df_part4['V26'] != 360, 'V26'] = [360  for _ in range(len(df_part4))]
df_part4['V26']

5808    360
5809    360
5810    360
5811    360
5812    360
       ...
7739    360
7740    360
7741    360
7742    360
7743    360
Name: V26, Length: 1936, dtype: int64

In [20]:
df_part4['V21'] = 'VISPOS01'

# Rule 5

In [21]:
df_part5.loc[:, ['V4','CLASS']] = [['000010',1] for _ in range(len(df_part5))]

In [22]:
df_part5['V26'] = 360

In [23]:
df_part5['V15'] = 902

In [24]:
import numpy as np

df = []
values = ['01','17']  
for i in range(len(df_part5)):
  df.append(np.random.choice(values))
df_part5['V1'] = df
df_part5['V1']

7744    01
7745    01
7746    01
7747    01
7748    17
        ..
9675    17
9676    01
9677    01
9678    17
9679    01
Name: V1, Length: 1936, dtype: object

# Rule 6

In [25]:
df_part6.loc[:, ['V4','CLASS']] = [['000010',1] for _ in range(len(df_part6))]

In [26]:
df_part6.loc[:, 'V10'] = [random.randint(18000,999999) for _ in range(len(df_part6))]

In [27]:
import random
for index, row in df_part6.iterrows():
    df_part6.at[index, 'V16'] = row['V16'][:6] + '5' + row['V16'][7:]

# Rule 7

In [28]:
df_part7.loc[:, ['V4','CLASS']] = [['000010',1] for _ in range(len(df_part7))]

In [29]:
df_part7['V1'] = '20'

In [30]:
import random
import numpy as np
df_part7.loc[df_part7['V10'] < 10000, 'V10'] = [random.randint(10000,999999) for _ in range(len(df_part7))]

In [31]:
df_part7.loc[df_part7['V13']==5331 , 'V13'] = [6011 for _ in range(len(df_part7))]

In [32]:
df_part7.loc[df_part7['V13']==7011 , 'V13'] = [6011 for _ in range(len(df_part7))]

In [33]:
max(df_part7['V13'])

6011

# Vérification des tailles

In [ ]:
dataIn = pd.read_excel('Authorization_data_v2.xlsx')

In [ ]:
# Supprimer les valeurs nulles dans la colonne "colonne_1"
dfS = dataIn.dropna(subset=['V10'])
print(max(dfS['V10']))
print(min(dfS['V10']))

# Export

In [34]:
df_final = pd.concat([df_part1,df_part2,df_part3,df_part4,df_part5,df_part6,df_part7])

In [36]:
df_final.to_excel('zakaria_fraud.xlsx', index=False)