In [1]:
import pandas as pd
import numpy as np

In [2]:
root = '/home/sihartist/Desktop/'

In [4]:
df = pd.read_excel(root + 'fraud-detection/dataset/final.xlsx', dtype=str)
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V19,V20,V21,V22,V23,V24,V25,V26,V27,CLASS
0,31,281,22,010112,500,01/05/2009,01/05/2011,02/07/2009 21:21:42,NaN,NaN,...,071181,0,01000002,01000002,26/12/2009,NaN,952,384,VERSUS BANK 2 PLATEAUX REGION LAGUNECI,0
1,31,281,22,010112,500,01/06/2009,01/06/2011,26/06/2009 11:16:47,NaN,NaN,...,004737,0,01000001,01000001,26/12/2009,NaN,952,384,VERSUS BANK PLATEAU REGION LAGUNECI,0
2,31,281,22,010112,500,01/09/2008,01/09/2009,03/07/2009 19:09:31,NaN,NaN,...,088399,0,01000002,01000002,26/12/2009,NaN,952,384,VERSUS BANK 2 PLATEAUX REGION LAGUNECI,0
3,31,281,22,010112,500,01/05/2009,01/05/2011,04/07/2009 06:33:03,NaN,NaN,...,085768,0,01000002,01000002,26/12/2009,NaN,952,384,VERSUS BANK 2 PLATEAUX REGION LAGUNECI,0
4,31,281,22,010112,500,01/12/2008,01/12/2010,04/07/2009 07:36:18,NaN,NaN,...,059375,0,01000001,01000001,26/12/2009,NaN,952,384,VERSUS BANK PLATEAU REGION LAGUNECI,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140654 entries, 0 to 140653
Data columns (total 28 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   V1      140654 non-null  object
 1   V2      140654 non-null  object
 2   V3      139679 non-null  object
 3   V4      140654 non-null  object
 4   V5      140654 non-null  object
 5   V6      124864 non-null  object
 6   V7      140654 non-null  object
 7   V8      140654 non-null  object
 8   V9      28907 non-null   object
 9   V10     55385 non-null   object
 10  V11     0 non-null       object
 11  V12     140654 non-null  object
 12  V13     140654 non-null  object
 13  V14     0 non-null       object
 14  V15     10548 non-null   object
 15  V16     140654 non-null  object
 16  V17     0 non-null       object
 17  V18     140616 non-null  object
 18  V19     110978 non-null  object
 19  V20     139679 non-null  object
 20  V21     140654 non-null  object
 21  V22     140654 non-null  object
 22  V23     140654 non-null  object
 23  V24     27868 non-null   object
 24  V25     140654 non-null  object
 25  V26     140654 non-null  object
 26  V27     140654 non-null  object
 27  CLASS   140654 non-null  object
dtypes: object(28)
memory usage: 30.0+ MB

In [6]:
df.CLASS.value_counts()

0    70327
1    70327
Name: CLASS, dtype: int64

In [10]:
df.V27.value_counts()

VERSUS BANK PLATEAU    REGION LAGUNECI      65462
VERSUS BANK 2 PLATEAUX REGION LAGUNECI      43351
VERSUS BANK ZONE 4     REGION LAGUNECI      31240
VERSUS BANK ABIDJAN    REGION LAGUNECI        563
RES BERT                >VALLON       CI       32
RESIDENCE MADE          >ABIDJAN      CI        6
Name: V27, dtype: int64