In [1]:
import pandas as pd
import numpy as np

In [2]:
root = '/home/sihartist/Desktop/'

In [3]:
df = pd.read_excel(root + 'fraud-detection/dataset/siham_2.xlsx')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9890 entries, 0 to 9889
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      9890 non-null   int64
 1   V2      9890 non-null   int64
 2   V3      9735 non-null   float64
 3   V4      9735 non-null   float64
 4   V5      9890 non-null   int64
 5   V6      5205 non-null   object
 6   V7      9890 non-null   object
 7   V8      9890 non-null   object
 8   V9      8482 non-null   float64
 9   V10     8482 non-null   float64
 10  V11     0 non-null      float64
 11  V12     9890 non-null   int64
 12  V13     9890 non-null   int64
 13  V14     0 non-null      float64
 14  V15     0 non-null      float64
 15  V16     9890 non-null   object
 16  V17     0 non-null      float64
 17  V18     9890 non-null   int64
 18  V19     0 non-null      float64
 19  V20     9735 non-null   float64
 20  V21     9890 non-null   int64
 21  V22     9890 non-null   int64
 22  V23     9890 non-null   object
 23  V24     8273 non-null   float64
 24  V25     9890 non-null   int64
 25  V26     9890 non-null   int64
 26  V27     9890 non-null   object
 27  CLASS   9890 non-null   int64
dtypes: float64(11), int64(11), object(6)
memory usage: 2.1+ MB

In [7]:
df['V12'].value_counts()

10112    9890
Name: V12, dtype: int64

In [36]:
df['V4'] = df['V4'].astype(str)

In [10]:
df_full = pd.read_excel('/home/sihartist/Desktop/fraud-detection/dataset/Authorization_data_v2.xlsx', dtype = str)

In [12]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      99999 non-null  object
 1   V2      99999 non-null  object
 2   V3      99024 non-null  object
 3   V4      99024 non-null  object
 4   V5      99999 non-null  object
 5   V6      85051 non-null  object
 6   V7      99999 non-null  object
 7   V8      99999 non-null  object
 8   V9      28722 non-null  object
 9   V10     28722 non-null  object
 10  V11     0 non-null      object
 11  V12     99999 non-null  object
 12  V13     99999 non-null  object
 13  V14     0 non-null      object
 14  V15     0 non-null      object
 15  V16     99999 non-null  object
 16  V17     0 non-null      object
 17  V18     99975 non-null  object
 18  V19     70325 non-null  object
 19  V20     99024 non-null  object
 20  V21     99999 non-null  object
 21  V22     99999 non-null  object
 22  V23     99999 non-null  object
 23  V24     27683 non-null  object
 24  V25     99999 non-null  object
 25  V26     99999 non-null  object
 26  V27     99999 non-null  object
 27  CLASS   99191 non-null  object
dtypes: object(28)
memory usage: 21.4+ MB

In [11]:
df_full['V12'].value_counts()

010112    99975
001129       24
Name: V12, dtype: int64

In [38]:
df_full['V4'] = df_full['V4'].astype(str)

In [39]:
df_full.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'CLASS'],
      dtype='object')

In [40]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      99999 non-null  int64
 1   V2      99999 non-null  int64
 2   V3      99024 non-null  float64
 3   V4      99999 non-null  object
 4   V5      99999 non-null  int64
 5   V6      85051 non-null  object
 6   V7      99999 non-null  object
 7   V8      99999 non-null  object
 8   V9      28722 non-null  float64
 9   V10     28722 non-null  float64
 10  V11     0 non-null      float64
 11  V12     99999 non-null  int64
 12  V13     99999 non-null  int64
 13  V14     0 non-null      float64
 14  V15     0 non-null      float64
 15  V16     99999 non-null  object
 16  V17     0 non-null      float64
 17  V18     99975 non-null  float64
 18  V19     70325 non-null  object
 19  V20     99024 non-null  float64
 20  V21     99999 non-null  int64
 21  V22     99999 non-null  int64
 22  V23     99999 non-null  object
 23  V24     27683 non-null  float64
 24  V25     99999 non-null  int64
 25  V26     99999 non-null  int64
 26  V27     99999 non-null  object
 27  CLASS   99191 non-null  float64
dtypes: float64(11), int64(9), object(8)
memory usage: 21.4+ MB

In [41]:
columns_num = df_full.select_dtypes(include=np.number).columns.tolist()
columns_num.remove('CLASS')
max_values = {}

for v in columns_num:
    max_values[v] = df_full[v].max()

max_values

{'V1': 40,
 'V2': 284,
 'V3': 22.0,
 'V5': 781,
 'V9': 800000.0,
 'V10': 800000.0,
 'V11': nan,
 'V12': 10112,
 'V13': 7011,
 'V14': nan,
 'V15': nan,
 'V17': nan,
 'V18': 6.0,
 'V20': 3.0,
 'V21': 1129152,
 'V22': 1000004,
 'V24': 800000.0,
 'V25': 952,
 'V26': 384}

In [42]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V19,V20,V21,V22,V23,V24,V25,V26,V27,CLASS
0,31,281,22.0,10112.0,220,01/07/2017,01/06/2019,21/05/2019 21:02:06,NaN,NaN,...,NaN,0.0,1000003,1000003,26/12/2019,NaN,952,384,VERSUS BANK ZONE 4 REGION LAGUNECI,1
1,1,200,22.0,10112.0,220,01/01/2018,01/01/2020,17/05/2019 18:08:02,200000.0,200000.0,...,NaN,0.0,1000003,1000003,26/12/2019,200000.0,952,384,VERSUS BANK ZONE 4 REGION LAGUNECI,1
2,1,200,22.0,10112.0,220,01/10/2017,01/09/2019,01/06/2019 07:54:50,150000.0,150000.0,...,NaN,0.0,1000003,1000003,26/12/2019,150000.0,952,384,VERSUS BANK ZONE 4 REGION LAGUNECI,1
3,1,200,22.0,10112.0,220,01/02/2019,01/01/2021,25/05/2019 09:38:58,50000.0,50000.0,...,NaN,0.0,1000002,1000002,26/12/2019,50000.0,952,384,VERSUS BANK 2 PLATEAUX REGION LAGUNECI,1
4,1,200,22.0,10112.0,220,01/02/2019,01/02/2021,03/06/2019 10:25:06,300000.0,300000.0,...,NaN,0.0,1000003,1000003,26/12/2019,300000.0,952,384,VERSUS BANK ZONE 4 REGION LAGUNECI,1

In [43]:
df['CLASS'].value_counts()

1    9890
Name: CLASS, dtype: int64

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9890 entries, 0 to 9889
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      9890 non-null   int64
 1   V2      9890 non-null   int64
 2   V3      9735 non-null   float64
 3   V4      9890 non-null   object
 4   V5      9890 non-null   int64
 5   V6      5205 non-null   object
 6   V7      9890 non-null   object
 7   V8      9890 non-null   object
 8   V9      8482 non-null   float64
 9   V10     8482 non-null   float64
 10  V11     0 non-null      float64
 11  V12     9890 non-null   int64
 12  V13     9890 non-null   int64
 13  V14     0 non-null      float64
 14  V15     0 non-null      float64
 15  V16     9890 non-null   object
 16  V17     0 non-null      float64
 17  V18     9890 non-null   int64
 18  V19     0 non-null      float64
 19  V20     9735 non-null   float64
 20  V21     9890 non-null   int64
 21  V22     9890 non-null   int64
 22  V23     9890 non-null   object
 23  V24     8273 non-null   float64
 24  V25     9890 non-null   int64
 25  V26     9890 non-null   int64
 26  V27     9890 non-null   object
 27  CLASS   9890 non-null   int64
dtypes: float64(10), int64(11), object(7)
memory usage: 2.1+ MB

In [45]:
import random

In [46]:
def random_not_in(l, max):
    res = l[0]
    while(res in l):
        res = random.randint(0, max)
    return res

In [47]:
"""
Rule 1
V4 = ''000010''
V10 BETWEEN 90  AND 200
(V16,7,1)   IN  (''A'',''M'')
"""
def rule1(df, index):
    df.at[index, 'V4'] =  "'000010'"
    df.at[index, 'V10'] = random.randint(90, 200)
    df.at[index, 'V16'] = df.at[index, 'V16'][:6] + random.choice(['A', 'M']) + df.at[index, 'V16'][7:]

In [48]:
test_df = pd.DataFrame.copy(df)
rule1(test_df, 0)
print(test_df['V4'][0])
print(test_df['V10'][0])
print(test_df['V16'][0])

'000010'
106.0
511401A1124C

In [49]:
"""
Rule 2
V4 = ''000010'' 
V13  IN (''5921'') 
V10 > 5000
"""
def rule2(df, index):
    df.at[index, 'V4'] =  "'000010'"
    df.at[index, 'V13'] = 5921
    df.at[index, 'V10'] = random.randint(5001, max_values['V10'])

In [50]:
test_df = pd.DataFrame.copy(df)
rule2(test_df, 0)
print(test_df['V4'][0])
print(test_df['V13'][0])
print(test_df['V10'][0])

'000010'
5921
443559.0

In [51]:
"""
Rule 3
V4 = ''000010'' 
V13  IN (''5921'') 
V21  IN (''549038'')
V10 >= 2000
"""
def rule3(df, index):
    df.at[index, 'V4'] =  "'000010'"
    df.at[index, 'V13'] = 5921
    df.at[index, 'V21'] = 549038
    df.at[index, 'V10'] = random.randint(2000, max_values['V10'])

In [52]:
test_df = pd.DataFrame.copy(df)
rule3(test_df, 0)
print(test_df['V4'][0])
print(test_df['V13'][0])
print(test_df['V21'][0])
print(test_df['V10'][0])

'000010'
5921
549038
240080.0

In [53]:
"""
Rule 4
V4 = ''000010'' 
V1 IN (''20'') 
V13  NOT IN (''5311'',''7011'') 
V10 >= 100000
"""
def rule4(df, index):
    df.at[index, 'V4'] =  "'000010'"
    df.at[index, 'V1'] = 20
    df.at[index, 'V13'] = random_not_in([5311, 7011], max_values['V13'])
    df.at[index, 'V10'] = random.randint(100000, max_values['V10'])

In [54]:
test_df = pd.DataFrame.copy(df)
rule4(test_df, 0)
print(test_df['V4'][0])
print(test_df['V1'][0])
print(test_df['V13'][0])
print(test_df['V10'][0])

'000010'
20
4735
275089.0

In [55]:
"""
Rule 5
V4 = ''000010'' ; 
V13  IN (''3017'',''3223'',''4511'',''4722'',''7011'',''7512'') ;
(V16,7,1)   NOT IN  (''5'')
"""
def rule5(df, index):
    df.at[index, 'V4'] =  "'000010'"
    df.at[index, 'V13'] = random.choice([3017, 3223, 4511, 4722, 7011, 7512])
    df.at[index, 'V16'] = df.at[index, 'V16'][:6] + str(random_not_in([5], 9)) + df.at[index, 'V16'][7:]

In [56]:
test_df = pd.DataFrame.copy(df)
rule5(test_df, 0)
print(test_df['V4'][0])
print(test_df['V13'][0])
print(test_df['V16'][0])
print(df['V16'][0])

'000010'
3017
51140171124C
51140121124C

In [57]:
"""
Rule 6
V4 = ''000010''
V1 IN (''20'')
V13  NOT IN (''5331'',''7011'')
V10 >= 25000 END;
"""
def rule6(df, index):
    df.at[index, 'V4'] = "'000010'"
    df.at[index, 'V1'] = 20
    df.at[index, 'V13'] = random_not_in([5331, 7011], max_values['V13'])
    df.at[index, 'V10'] = random.randint(25000, max_values['V10'])

In [58]:
test_df = pd.DataFrame.copy(df)
rule6(test_df, 0)
print(test_df['V4'][0])
print(test_df['V1'][0])
print(test_df['V13'][0])
print(test_df['V10'][0])

'000010'
20
6955
261392.0

In [59]:
rules = [rule1, rule2, rule3, rule4, rule5, rule6]

In [60]:
def make_fraud():
    new_df = pd.DataFrame.copy(df)
    for index in range(len(new_df)):
        rule = random.choice(rules)
        rule(new_df, index)
        new_df.at[index, 'CLASS'] = 1
    return new_df

In [61]:
fraud_df = make_fraud()

In [62]:
fraud_df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V19,V20,V21,V22,V23,V24,V25,V26,V27,CLASS
0,20,281,22.0,'000010',220,01/07/2017,01/06/2019,21/05/2019 21:02:06,NaN,28831.0,...,NaN,0.0,1000003,1000003,26/12/2019,NaN,952,384,VERSUS BANK ZONE 4 REGION LAGUNECI,1
1,1,200,22.0,'000010',220,01/01/2018,01/01/2020,17/05/2019 18:08:02,200000.0,200000.0,...,NaN,0.0,1000003,1000003,26/12/2019,200000.0,952,384,VERSUS BANK ZONE 4 REGION LAGUNECI,1
2,1,200,22.0,'000010',220,01/10/2017,01/09/2019,01/06/2019 07:54:50,150000.0,140939.0,...,NaN,0.0,1000003,1000003,26/12/2019,150000.0,952,384,VERSUS BANK ZONE 4 REGION LAGUNECI,1
3,1,200,22.0,'000010',220,01/02/2019,01/01/2021,25/05/2019 09:38:58,50000.0,94.0,...,NaN,0.0,1000002,1000002,26/12/2019,50000.0,952,384,VERSUS BANK 2 PLATEAUX REGION LAGUNECI,1
4,20,200,22.0,'000010',220,01/02/2019,01/02/2021,03/06/2019 10:25:06,300000.0,330031.0,...,NaN,0.0,1000003,1000003,26/12/2019,300000.0,952,384,VERSUS BANK ZONE 4 REGION LAGUNECI,1

In [13]:
import pandas as pd

In [14]:
df = pd.read_excel(root + 'fraud-detection/dataset/to_make_fraud_data.xlsx')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70327 entries, 0 to 70326
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      70327 non-null  int64
 1   V2      70327 non-null  int64
 2   V3      69352 non-null  float64
 3   V4      69352 non-null  float64
 4   V5      70327 non-null  int64
 5   V6      56513 non-null  object
 6   V7      70327 non-null  object
 7   V8      70327 non-null  object
 8   V9      26080 non-null  float64
 9   V10     26080 non-null  float64
 10  V11     0 non-null      float64
 11  V12     70327 non-null  int64
 12  V13     70327 non-null  int64
 13  V14     0 non-null      float64
 14  V15     0 non-null      float64
 15  V16     70327 non-null  object
 16  V17     0 non-null      float64
 17  V18     70303 non-null  float64
 18  V19     40653 non-null  float64
 19  V20     69352 non-null  float64
 20  V21     70327 non-null  int64
 21  V22     70327 non-null  int64
 22  V23     70327 non-null  object
 23  V24     25041 non-null  float64
 24  V25     70327 non-null  int64
 25  V26     70327 non-null  int64
 26  V27     70327 non-null  object
 27  CLASS   70327 non-null  int64
dtypes: float64(12), int64(10), object(6)
memory usage: 15.0+ MB

In [17]:
from rules import *

rule1(df, 0)

In [21]:
rule1(df, 0)

In [23]:
rule2(df, 1, 99999)

In [25]:
rule3(df, 2, 999999)

In [27]:
rule4(df, 3, 999999)

In [28]:
rule5(df, 4)