In [1]:
import pandas as pd # data processing
import numpy as np # working with arrays
import matplotlib.pyplot as plt # visualization
import seaborn as sns
import pickle
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report 
from sklearn.metrics import precision_score, recall_score
from sklearn.metrics import f1_score, matthews_corrcoef
from sklearn.metrics import confusion_matrix

In [2]:
# Load the credit card transaction data 
df = pd.read_excel(r'C:\Users\KABYADE\Desktop\Fraud_ML\dataset\preprocessing_data.xlsx')
df.head(2)

,V1,V2,V3,V4,V9,V10,V12,V13,V16,V19,...,V7_month,V7_day,V23_month,V23_day,V8_month,V8_day,V6_year,V7_year,V23_year,V8_year
0,4,2,23,1,410878,715848.0,19,2976,44,20339,...,0.654861,-1,-1.0,-0.5,0.959493,-0.978148,2009,2011,2009,2009
1,4,2,23,1,187304,252113.0,19,2976,44,1339,...,0.959493,-1,-1.0,-0.5,0.959493,-0.500000,2009,2011,2009,2009

,V1,V2,V3,V4,V9,V10,V12,V13,V16,V19,...,V7_month,V7_day,V23_month,V23_day,V8_month,V8_day,V6_year,V7_year,V23_year,V8_year
0,4,2,23,1,410878,715848.000000,19,2976,44,20339,...,0.654861,-1,-1.0,-0.5,0.959493,-0.978148,2009,2011,2009,2009
1,4,2,23,1,187304,252113.000000,19,2976,44,1339,...,0.959493,-1,-1.0,-0.5,0.959493,-0.500000,2009,2011,2009,2009
2,4,2,23,1,430456,75388.000000,19,2976,44,25338,...,0.142315,-1,-1.0,-0.5,0.959493,-0.913545,2008,2009,2009,2009
3,4,2,23,1,280281,497926.000000,19,2976,44,24543,...,0.654861,-1,-1.0,-0.5,0.959493,-0.809017,2009,2011,2009,2009
4,4,2,23,1,411041,694856.000000,19,2976,44,16996,...,-1.000000,-1,-1.0,-0.5,0.959493,-0.809017,2008,2010,2009,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140649,0,2,23,1,502718,691178.960284,19,1852,10,8053,...,0.654861,-1,-1.0,-0.5,-0.415415,-0.669131,2009,2011,2010,2010
140650,4,2,23,1,632173,451393.000000,19,2976,44,4534,...,0.959493,-1,-1.0,-0.5,0.142315,-0.669131,2009,2011,2010,2010
140651,1,2,23,1,259802,34.162327,19,2976,44,22286,...,0.959493,-1,-1.0,-0.5,0.142315,-0.669131,2009,2011,2010,2010
140652,1,2,23,1,385422,413458.000000,19,2976,44,4827,...,-1.000000,-1,-1.0,-0.5,-0.415415,-0.978148,2009,2012,2010,2010
140653,1,2,23,1,601774,542985.000000,19,2976,44,10508,...,0.959493,-1,-1.0,-0.5,0.142315,-0.669131,2009,2011,2010,2010

In [ ]:
[ 
  4,  2,  23,  1,  410878,  715848.0,  19,  2976,  44,  20339,  3,  1,  621524,  1,  
  384,  4,  0.654861,  0.654861, -1.0, -0.5,  0.959493, -0.978148,  2009,  2011,  2009,  2009
]

29-2-1 = 26

In [ ]:
def load_data():
    df = pd.read_excel(r'C:\Users\KABYADE\Desktop\Fraud_ML\dataset\preprocessing_data.xlsx')
    df.drop(['V7_day','V6_day'], axis=1, inplace=True)
    X = df.drop("CLASS", axis=1)
    y = df["CLASS"]
    X = X.values
    y = y.values
    return X,y

def split_data(X,y):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    return X_train, X_test, y_train, y_test

def save_model(model,name):
    pickle.dump(model, open("./models/"+name+".pkl","wb"))

def print_metrics(y_test,y_pred):
    n_errors = (y_pred != y_test).sum()
    print("The model used is Decision Tree  classifier")

    acc = accuracy_score(y_test, y_pred)
    print("The accuracy is {}".format(acc))
    
    prec = precision_score(y_test, y_pred)
    print("The precision is {}".format(prec))
    
    rec = recall_score(y_test, y_pred)
    print("The recall is {}".format(rec))
    
    f1 = f1_score(y_test, y_pred)
    print("The F1-Score is {}".format(f1))

def confusion_matr(y_test,y_pred):
    # printing the confusion matrix
    LABELS = ['Normal', 'Fraud']
    conf_matrix = confusion_matrix(y_test, y_pred)
    plt.figure(figsize =(8, 4))
    sns.heatmap(conf_matrix, xticklabels = LABELS,yticklabels = LABELS, annot = True, fmt ="d")
    plt.title("Confusion matrix")
    plt.ylabel('True class')
    plt.xlabel('Predicted class')
    plt.show()

def d_tree():

    X,y=load_data()
    X_train, X_test, y_train, y_test=split_data(X,y)
    clf = DecisionTreeClassifier()
    clf.fit(X_train, y_train)

    y_pred = clf.predict(X_test)
    print_metrics(y_test,y_pred)
    confusion_matr(y_test,y_pred)
    
    return clf

In [35]:
#REMOVE due to fixed value prb
df.drop(['V7_day','V6_day'], axis=1, inplace=True)

In [36]:
# Split the data into features and target variable
X = df.drop("CLASS", axis=1)
y = df["CLASS"]

X = X.values
y = y.values

In [37]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Train the decision tree model
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

In [39]:
# Make predictions on the test data
y_pred = clf.predict(X_test)

# Evaluate the model accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.94436742383847

In [44]:
n_errors = (y_pred != y_test).sum()
print("The model used is Decision Tree  classifier")
  
acc = accuracy_score(y_test, y_pred)
print("The accuracy is {}".format(acc))
  
prec = precision_score(y_test, y_pred)
print("The precision is {}".format(prec))
  
rec = recall_score(y_test, y_pred)
print("The recall is {}".format(rec))
  
f1 = f1_score(y_test, y_pred)
print("The F1-Score is {}".format(f1))

The model used is Decision Tree  classifier
The accuracy is 0.94436742383847
The precision is 0.9377768403290445
The recall is 0.9514909402197175
The F1-Score is 0.9445841152933678

In [ ]:
# printing the confusion matrix
LABELS = ['Normal', 'Fraud']
conf_matrix = confusion_matrix(y_test, y_pred)
plt.figure(figsize =(8, 4))
sns.heatmap(conf_matrix, xticklabels = LABELS, 
            yticklabels = LABELS, annot = True, fmt ="d");
plt.title("Confusion matrix")
plt.ylabel('True class')
plt.xlabel('Predicted class')
plt.show()

In [42]:
import pickle

#serializing our model to a file called model.pkl
pickle.dump(clf, open("./models/D_Tree.pkl","wb"))

In [29]:
import joblib
# save
joblib.dump(clf, "./models/tree_decision.joblib")
# load, no need to initialize the loaded_rf
loaded_rf = joblib.load("./models/tree_decision.joblib")

test1=[139,265803.35,0.00,0.00,751669.39,1017472.74,0,1,0,0,0 ,0 ]
to_predict = np.array(test1).reshape(1,12)

loaded_rf.predict(to_predict)

array([0], dtype=int64)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Load the credit card transaction data
df = pd.read_csv("credit_card_transactions.csv")

# Split the data into features and target variable
X = df.drop("is_fraud", axis=1)
y = df["is_fraud"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the decision tree model
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

# Make predictions on the test data
y_pred = clf.predict(X_test)

# Evaluate the model accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)